body {
    font-family: Arial, sans-serif;
    background-image: url('../images/panteraBot.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 90vw;
    max-width: 30rem;
    min-height: 75vh;
    max-height: 85vh;
    background-color: #d6d6d6;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.25rem;
    position: relative;
}

.chat-box {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 1.25rem;
    padding: 0.625rem;
    background-color: #202020;
    border-radius: 0.3125rem;
    font-size: 0.875rem;
    height: auto;
}

.user-message, .bot-message {
    padding: 0.3125rem 0.625rem;
    margin: 0.3125rem 0;
    border-radius: 0.3125rem;
    width: fit-content;
    max-width: 80%;
    word-wrap: break-word;
}

.user-message {
    text-align: right;
    background-color: #d6d6d6;
    color: #202020;
    margin-left: auto;
}

.bot-message {
    text-align: left;
    background-color: #353535;
    color: #d6d6d6;
    margin-right: auto;
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    justify-content: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.button-option {
    padding: 0.625rem 0.9375rem;
    background-color: #202020;
    color: #d6d6d6;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 0.875rem;
}

.button-option:hover {
    background-color: #353535;
}

/* 1. Big Screens (desktops, notebooks) */
@media (min-width: 1025px) {
    .chat-container {
        max-width: 33rem;
        padding: 2rem;
    }

    .chat-box {
        font-size: 1rem;
    }

    .button-option {
        font-size: 1rem;
        padding: 0.75rem 1.25rem;
    }
}

/* 2. Medium Screens (tablets) */
@media (max-width: 1024px) {
    .chat-container {
        max-width: 55vw;
        min-height: 80vh;
        padding: 1.25rem;
    }

    .chat-box {
        font-size: 0.9rem;
    }

    .button-option {
        font-size: 0.9rem;
        padding: 0.625rem 1rem;
    }
}

/* 3. Small Screens (cellphones) */
@media (max-width: 600px) {
    .chat-container {
        min-width: 50vw;
        min-height: 80vh;
        padding: 1rem;
    }

    .chat-box {
        font-size: 0.9rem;
    }

    .user-message, .bot-message {
        font-size: 0.9rem;
    }

    .button-option {
        font-size: 0.9rem;
        padding: 0.50rem 0.70rem;
    }
}